<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <form action="/createSurvey" method="post">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name">
        </div>
        <div class="mb-3">
            <label for="location" class="form-label">Dojo Location</label>
            <select name="location" >
                <option value="San Hose">San Hose</option>
                <option value="Tirane">Tirane</option>
                <option value="Durres" >Durres</option>
            </select>
        </div>
        
        <div class="mb-3">
            <label for="language" class="form-label">Dojo Language</label>
            <select name="language" >
                <option value="Anglisht">Anglisht</option>
                <option value="Shqip">Shqip</option>
                <option value="Italisht" >Italisht</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <textarea name="comment" cols="30" rows="2"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</body>
</html>